.hero-container{
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-heading{
    font-size: 100px;
}

.hero-description{
    font-size: 18px;
}


.cta-btn{
    margin-top: 2rem;
    padding: 0.5rem 1.5rem;
    border-radius: 0.3rem;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
}